@page
@model BookingWebs.Pages.Bookings.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Booking</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Booking.CustomerName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Booking.CustomerName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Booking.Status)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Booking.Status)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Booking.TotalPrice)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Booking.TotalPrice)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Booking.Account)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Booking.Account.Id)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Booking.Slot)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Booking.Slot.Id)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Booking?.Id">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
