@page
@model BookingWebs.Pages.Bookings.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Booking[0].CustomerName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Booking[0].Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Booking[0].TotalPrice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Booking[0].Account)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Booking[0].Slot)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Booking) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CustomerName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TotalPrice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Account.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Slot.Id)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
            </td>
        </tr>
}
    </tbody>
</table>
