@page
@model BookingWebs.Pages.BookingInfor.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>
<form method="get">
    <div class="form-group">
        <label asp-for="CustomerName"></label>
        <input asp-for="CustomerName" placeholder="Nhap ten khach hang" />
        <button type="submit" class="btn btn-primary">Search</button>
    </div>
</form>
<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Booking[0].CustomerName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Booking[0].ServicesName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Booking[0].Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Booking[0].Account)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Booking[0].Slot)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Booking) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CustomerName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ServicesName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Account.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Slot.Id)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
